body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background: rgba(23,23,23, 1);
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 5rem;
    text-align: center;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto Mono', monospace;
    font-family: 'bebas_neueregular';
    color: white;
    letter-spacing: 5px;
    color: #f10;
}

p,li {
    font-family: 'Montserrat', sans-serif;
    color: white;
    line-height: 1.9;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.info li {
    padding-left: 1em; 
    text-indent: -.7em;
}

.info li::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background: red;
    
}

a {
    text-decoration: none;
}

section, footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem;
}

.red {
    color: #f10;
}

.red-heading {
    padding: 0rem 1rem 1rem 1rem;
    border-bottom: 5px solid #f10;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    
}

.full-btn {
    background: #f10;
    color: white;
    padding: 1rem 2rem;
}

/* Nav */
nav {
    position: fixed;
    height: 100px;
    z-index: 100;
    border-bottom: 1px solid white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(23,23,23, 1);
}

.logo-container {
    overflow: hidden;
    position: relative;
    width: 400px;
    margin-left: 30px;
}

.icon {
    border-left: 1px white solid;
    margin: 0;
    padding: 0 1rem;
    color: #f10;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer !important;
}

.red-pixel {
    height: 50px;
    width: 50px;
    background-color: #f10;
    position: relative;
    z-index: 5;
}

.logo-container .logo {
    width: 300px;
    position: absolute;
    left: 60px;
    -webkit-animation: slide-right 1s forwards;
    animation: slide-right 1s forwards;
    z-index: 0;
}

@-webkit-keyframes slide-right {
    0% {left: 60}
    100% { left: -300px; }
}

@keyframes slide-right {
    0% {left: 60}
    100% { left: -300px; }
}

.logo-container:hover .logo {
    -webkit-animation: slide-left 1s forwards;
    animation: slide-left 1s forwards;
}

@-webkit-keyframes slide-left {
    0% {left: -300px}
    100% { left: 60px; }
}

@keyframes slide-left {
    0% {left: -300px}
    100% { left: 60px; }
}

/* Header */
.main-header {
    height: 80%; 
    width: 100%;
    background-position: center;
    object-fit: cover;
}

.head-video {
    width: 100%;
    height: 110vh;
    object-fit: cover;
}

.main-header .content {
    height: 110vh;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 10;
    background: rgba(23,23,23,.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-header h1 {
    font-family: 'bebas_neueregular';
    letter-spacing: 6px;
    position: relative;
    font-weight: 700;
    color: transparent;
    font-style: normal;
    font-size: 10vw;
    line-height: 10vw;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 2px white;
    display: inline-block;
    z-index: 6;
    width: 80%;
}

.red-hover {
    transition-duration: 1.2s;
}

.main-header:hover h1 .red-hover {
    -webkit-text-stroke: 2px #f10;
    
}

/* Creative */
#creative-section  article{
    display: flex;
    justify-content: space-between;
}

#creative-section .left {
    width: 60%;
    padding-right: 25px;
}

#creative-section .left p {
    margin-top: 0;
}


#creative-section .right {
    width: 40%;
}

#creative-section .work-img {
    height: 100%;
    width: 100%;
    background-image: url('http://kris-site.local/wp-content/uploads/2020/08/awhCbhLqRceCdjcPQUnn_IMG_0249-scaled.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#creative-section .work-img .overlay {
    height: 100%;
    width: 100%;
    background:rgba(255, 17, 0, 0.6);
    transition: all .5s ease-in;
}

#creative-section .work-img:hover .overlay {
    background: none;
}


/* What we Do */
.what-we-do {
    max-width: inherit;
    padding: 4rem 0;
}

.wwd-heading {
    text-align: center;

}

.what-we-do .btn {
    padding: 1rem;
}

.what-we-do .btn h3 {
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    color: white;
    font-style: italic;
    font-weight: bolder;
    font-size: 40px;
}

/* Accordion */
.accordion .hide {
    display: none;
}

.accordion-content {
    padding: 4rem 0;
    max-width: 1200px;
    margin: 0 auto;
}

.accordion-content h2 {
    text-align: center;
    margin-top: 0;
}

/* Accordion Digital */
.accordion.digital {
    background: green;
}

.accordion.digital .accordion-background {
    background: red;
}

.accordion.digital .pic-left {
    display: flex;
}

.accordion.digital .pic-left img{
    width: 500px;
}

.accordion.yellow {
    background: yellow;
}

.accordion.orange {
    background: orange
}

.accordion-content {
    display: none;
}

/* Demo Reo */
.video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    
}

.sound-toggle {
    padding: .5rem 1rem;
    background-color: red;
    color: white;
    display: inline-block;
    border-radius: 10px;
}

#demo-reo {
    display: table;
    width: auto;
    position: relative;
}

.playpause {
    background-image: url(http://png-4.findicons.com/files/icons/2315/default_icon/256/media_play_pause_resume.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-size: contain;
    background-position: center;
}

/* instagram */
#instagram {
    max-width: 100%;
    padding: 0;
}

#instagram .eapps-instagram-feed-title {
    color: #f10;
    font-size: 80px;
    padding-bottom: 7rem;
    // font-family: 'bebas_neueregular';
    letter-spacing: 5px;

}

/* Canvas Wave */
.canvas-container {
    position: relative;
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    position: absolute;
    z-index: -5;
    top: -950px;
    left: 0;
}

/* Client Project */
#client-project {
    padding-bottom: 0;
}

#client-project h2 {
    text-align: center;
}

#client-project article * {
    margin: 0;
}

/* About */
#about {
    padding-top: 0;
}

.about-section {
    display: flex;
    position: relative;
}

.about-section p {
    width: 50%;
    padding-left: 20px;
    margin: 0;
}

.info-image {
    background: url('http://kris-site.local/wp-content/uploads/2020/08/kris.jpg');
    height: 575px;
    width: 590px;
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in;
    margin-bottom: 5em;
    position: relative;
}

.red-background{
    content: '';
    height: 575px;
    width: 590px;
    background: red;
    position: absolute;
    z-index: -1;
    left: -3%;
    top: 4%;
}

.info-section div {
    width: 50%;
}

/* Contact */
.contact {
    max-width: 900px;
}
.contact h2 {
    margin-top: 0;
}

form {

}

form div {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

form h5 {
    font-size: 35px;
    margin: 0;
}

input, textarea {
    width: 500px;
    height: 100%;
}

input {
    height: 35px;
}

.button-container {
    justify-content: center;
}

button {
    color: white;
    border: none;
    background: red;
    padding: .75rem 1.5rem;
    font-size: 20px;
}